/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.pol__view-actions-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1e1b4b;
}
button.pol__view-action-button {
	border: none;
	padding: 5px;
	background-color: transparent;
	color: white;
	cursor: pointer;
}
