/* COMMON ===================== */
.pol__view-hero {
	width: 100%;
	padding-left: calc(var(--size-4-3) + var(--size-2-3)); /* the same as for back-button*/
	padding-right: calc(var(--size-4-3)); /* the same as for */
	/*background-image: linear-gradient(335deg, rgba(15, 2, 2, 1) 11.2%, rgba(36, 163, 190, 1) 91.1%);*/
	background-image: linear-gradient( 164deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );
	color: var(--color-base-00);
	--icon-size: var(--icon-s);
	--icon-color: var(--color-base-05);
}
.pol__hero-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: var(--size-4-3);
	padding-bottom: var(--size-4-3);

}
.pol__hero-header {
	font-size: var(--font-smallest);
	font-weight: var(--font-extralight);
	letter-spacing: 1px;
}
.pol__note-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.pol__hero-breadcrumbs {

}
.pol__hero-title {
	font-size: 3rem;
	font-weight: var(--font-black);
	letter-spacing: 3px;
	line-height: 130%;
	margin-bottom: 10px;
}
.pol__hero-details {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
    "button actions"
    "contents contents";
	gap: 20px;
}
.pol__hero-actions {
	grid-area: actions;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 2px solid #fff3;
}

.pol__hero-contents-cta {
	grid-area: button;

	background-color: #fff3;
	border-radius: 3px;
	padding: var(--size-4-3) var(--size-4-5);
	font-size: var(--font-small);
	font-weight: var(--font-medium);
	line-height: 1;
	width: fit-content;
	position: relative;
}
.pol__hero-contents-cta input{
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.pol__hero-contents-cta label {
	display: flex;
	cursor: pointer;
	gap: var(--size-4-2);
}
.pol__hero-contents-cta label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transform: rotate(90deg);
	transition: all 0.35s;
}
.pol__hero-contents-cta input:checked + label::after {
	transform: rotate(270deg);
}
.pol__hero-contents {
	grid-area: contents;

	max-height: 0;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.35s;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}
.pol__hero-contents a.internal-link {
	margin-bottom: 20px;
}
.pol__hero-contents-cta:has(input:checked) ~ .pol__hero-contents {
	max-height: 10rem;
}

.pol__hero-root-list a {
	display: block;
}








/* Backgrounds */

.pol__bg-disco {
	background: #4ECDC4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(311deg, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(311deg, #556270, #4ECDC4); /* W3C, IE 10+/Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pol__bg-dania {
	background: #BE93C5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.pol__bg-frost {
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(134deg, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(134deg, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.pol__bg-deep-sea-space {
	background: #2C3E50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(127deg, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(127deg, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.pol__bg-dark-sky {
	background: #4B79A1;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


